<!-- will eventually code nav bar for settings and welcome page -->
<nav>
    <!-- <span>
        <a href="/user">Welcome</a>
    </span> -->
    <span>
        <a href="/">Log in</a>
    </span>
</nav>