<!-- will eventually code nav bar for settings and welcome page -->
<body>

	<div class="header">
        <a class="active logo" href="/">journ.ey</a>

        </div>

		
	<nav role='navigation'>
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<!-- <a href="/user">
					<li>Home</li> -->
				<!-- <a class ="menu-text" href="/">
					<li class="menu-text">Log In</li>
				</a> -->
				<a class ="menu-text" href="/user/<%= singleUser._id %>/edit">">
					<li class="menu-text">Journal</li>
				</a>

				<a class ="menu-text" href="/logout">
					<li class="menu-text">Log Out</li>
				</a>
				

			</ul>
		</div>
	</nav>
</body>
