<!-- will eventually code nav bar for settings and welcome page -->
<body>
	<nav role='navigation'>
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<!-- <a href="/user">
					<li>Home</li> -->
				</a>
				<a class ="menu-text" href="/">
					<li class="menu-text">Log In</li>
				</a>
			</ul>
		</div>
	</nav>
</body>
