<!-- // index.ejs / -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav.css">

</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Login to Our App</h1>
    <form method = "POST" action="/">
        <label for= "userName">Username: </label>
        <input type = "text" id="userName" name="userName"/>
        <br>
        <label for = "password"> Password: </label>
        <input type = "text" id = "password" name = "password"/>
        <br>
        <input type = "submit" value = "Login"/>
    </form>
    <h3>If you need to sign up for our app, click the button below</h3>
    <button><a href = "/signup"> Sign Up</a></button>
</body>
</html>