<!-- // index.ejs / -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
<!-- This is where we need to do sessions and the sessions lesson -->
    <h1>You've reached the login page</h1>
    <p>take the user to the index route to make sure info went thru</p>
    <p>we'll need a form here eventually></p>
    <p> will eventually need js logic to either add the user or take them to the user/index route</p>
</body>
</html>