<!-- // index.ejs / -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
<!-- This is where we need to do sessions and the sessions lesson -->
    <h1>You've reached the login page</h1>
    <h2>Select a user below to get started</h2>
       <% for (let i= 0; i < allUsers.length; i++) { %>
            <button> <a href = "/user"> <%= allUsers[i].userName %> </a></button> 
            <br>
            <br>
            <%  } %>
    <h3>If you need to sign up for our app, click the button below</h3>
    <button><a href = "/user/new"> Sign Up</a></button>
</body>
</html>