<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/css/nav.css">

    <link rel="stylesheet" href="css/signup.css">

</head>
<body>

    <div class="signup-form-wrapper">

        <div class="form-image">
        
        
                </div>

    <form class="signup-form" method = "POST" action="/signup">

        <h1 class="title">sign up</h1>
        <p>
            please sign up below!
        </p>

    <div class=input-field>

        <input class="input" type = "text" id="userName" name="userName"
        placeholder="username"/>

    </div>

    <div class=input-field>

        <br>
        <input class="input" type = "text" id = "firstName" name = "firstName"
        placeholder="first name"/> 

    </div>
        <br>

    <div class=input-field>

        <input class="input" type = "text" id = "lastname" name = "lastName"
        placeholder="last name"/>
        <br>
    </div>

    <div class=input-field>
        <input class="input" type = "password" id = "password" name = "password"
        placeholder="password"/>
        
    </div>
    
        <!-- <br>
        <label for = "theme"> Chose a Theme: </label>
        <input type ="number" id = "theme" name = "theme"/> -->
        <br>

    <div class=input-field>

        <input class="input" type = "text" id = "avatar" name = "avatarImage"
        placeholder="avatar image"/>
        <br>
    </div>

    <div class="action">
        <input class="button" type = "submit" value = "create my profile"/>
    </div>
    </form>

    </div>

</div>
</body>
</html>