<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Need to come back to update the settings button to link to user update, and populate the "user" greeting with user name value -->
</head>
<body>
    <h1>Welcome User</h1>
    <br>
    <p>inspirational quote Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Saepe voluptas asperiores odio excepturi, culpa quod. Similique incidunt 
        numquam nisi earum cupiditate eaque voluptatibus hic</p>
    <br><br>
    <a href="/entry/new"><button>Write</button></a>
<br>
    <a href="/entry"><button>All Articles</button></a>
<br>
    <a href="/entry"><button>Settings</button></a>

</body>
</html>