@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Homemade+Apple&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');


body {
    margin: 100px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    background-image: url('/img/100.png');
    background-position: center;
    background-size: cover;
    color:white;
    font-family: 'Work Sans';
    font-weight: lighter;
}

header {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 0%,rgba(0,0,0,1) 80%);
    padding-top: 50px;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Abril Fat face';
    font-size: 1rem;
    color:white;

}

#content-wrapper {
    color: #ECE8E9;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background: #2eaf78;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%,rgba(126, 77, 77, 0.4) 80%);

}

label {
    font-size: 24px;
    font-weight: bold;
}

input {
    background: none;
    border-radius: 5px;
    margin-bottom:50px;
}

#title {
    width: 80%;
    color: #ECE8E9;
    background: #ECE8E935;
    font-size: 20px;
    font-family: 'Work Sans';
    font-weight: lighter;
    border:1px;
    

}

textarea {
    width: 100%;
    font-size: 20px;
    background: none;
    background: #ECE8E935;
    height:800px;
    color: #ECE8E9;
    outline: none;
    border: 1px inset;
    font-family: 'Work Sans';
    font-weight: lighter;
}

::placeholder {
    color: #ECE8E9;
}


#footer-wrapper {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.12) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%,rgba(0,0,0,.5) 80%);
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

input[type = submit] {
    font-family: 'Abril Fat face';
    color: #ECE8E9;
    font-size: 20px;
    padding: 0px 50px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px black;
    background-image: url('/img/1.jpg');
    background-size: cover;
    background-position: center;
}

input[type = date] {
    color: #ECE8E9;
    font-size: 20px;
    padding: 0px 50px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px white;
}

input[type = submit]:hover  {
    border: 1px solid lightgrey;
}

textarea:focus, input:focus{
    outline: none;
}