/* Slider */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


body {
	margin: 0;
	padding: 0;
	background-image: url('/img/09.png');
	background-size: 120%;
	color: #333333;
    font-family: 'Work Sans', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
	color: #232323;
	transition: color 0.3s ease;
}

  h1, h2 {
	font-size: 30px;
    color:#911e4f;
	font-family: 'Abril Fatface';
  /* font-family: 'Playfair Display', serif; */
  /* text-align: left; */
  padding-left: 18px;
  font-weight: lighter;
  letter-spacing: .5px;

	/* margin-right: 10px; */
}

p {
    font-family: 'Work Sans', sans-serif;
	margin: 10px;
	letter-spacing: .5px; 
	font-weight: lighter;
}

button {
    font-family: 'Work Sans', sans-serif;
	background: white;
	border: white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	letter-spacing: .5px; 
}


.entry-index {
	background-image: url(/5528141.jpg);
	background-size: fill;

}

.bg {
	mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.5) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.9) 0%,rgba(130, 78, 78, 0.8) 80%);
}

