@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Homemade+Apple&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');


body {
    margin: 100px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    background-image: url('/img/1.jpg');
    background-position: center;
    background-size: cover;
    color:white;
    font-family: 'Work Sans';
    font-weight: lighter;
}

header {
    background: #fee3c680;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 0%,rgba(0,0,0,1) 80%);
    padding: 20px;
    font-family: 'Homemade Apple';
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.5rem;
    color:#40121d;
}

#content-wrapper {
    background: #26262560;
    color: #ECE8E9;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 0%,rgba(0,0,0,1) 80%);

}

label {
    font-size: 24px;
    font-family: 'Homemade Apple';
    font-weight: bold;
}

input {
    background: none;
    border-radius: 5px;
}

#title {
    width: 80%;
    color: #ECE8E9;
    font-size: 20px;
    font-family: 'Work Sans';
    font-weight: lighter;

}

textarea {
    width: 90%;
    height: 800px;
    font-size: 20px;
    background: none;
    color: #ECE8E9;
    outline: none;
    border: 1px inset;
    font-family: 'Work Sans';
    font-weight: lighter;
}

::placeholder {
    color: #ECE8E9;
}

#footer-wrapper {
    background: #260c1999;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 0%,rgba(0,0,0,1) 80%);
    padding: 20px;
    font-family: 'Homemade Apple';
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

input[type = submit] {
    color: #ECE8E9;
    font-size: 20px;
    font-family: 'Homemade Apple';
    padding: 0px 50px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px;
    background-image: url('/img/1.jpg');
    background-size: cover;
    background-position: center;
    
}
input[type = date] {
    color: #ECE8E9;
    font-size: 20px;
    font-family: 'Homemade Apple';
    padding: 0px 50px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px;

    
}

input[type = submit]:hover  {
    border: 1px solid lightgrey;
}

textarea:focus, input:focus{
    outline: none;
}