@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Homemade+Apple&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');

.nav-bar {
    padding: 10px;
   
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(12, 12, 12); 
    font-family: 'Work Sans';
    color: white;
}
 
header {
    margin: 150px 0px;
}

h1 {
    font-size: 3rem;
    font-family: 'Homemade Apple', 'sans-serif';
    text-align: center;
}

a {
    color: #C7D9D7;
    text-decoration: none;
    font-family: 'Work Sans';
    color: #D98566;
}

a:visited {
    color: #C7D9D7;
}

h3 {
    text-align: center;
    font-family: 'Homemade Apple', 'sans-serif';
}

section {
    width: 100%;
    height: 900px;
    background-position: center;
    background-size: cover;
    background-image: url('/img/usgs-hos3dzgphzw-unsplash.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 300px;
}

.words {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Work Sans';
    font-weight: lighter;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding:50px;

}

button {
    font-size: 20px;
    padding: 10px 50px;
    /* margin: 20px; */
    border: none;
    border-radius: 25px;
    background-image: url('/img/usgs-hos3dzgphzw-unsplash.jpeg');
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px ;
    margin-bottom: 40px;
}

p {
    color:white;
}

.trash-btn {
    height:80px;
    text-align: center;
    margin-right: 20px;
    opacity: .7;
}

textarea:focus, input:focus{
    outline: none;
}