@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&100&display=swap');


* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	background-image: url("/img/05.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-weight: lighter;
	font-family: 'Work Sans';
	font-size: 15px;
}

.header {
	overflow: hidden;
	background-color: transparent;
	padding: 20px 10px;
	margin-left: 7%;
	margin-right: 7%;
}

.header a {
	float: left;
	color: white;
	text-align: center;
	padding-right: 50px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	font-weight: lighter;


}

.header a.logo {
	font-size: 20px;
	font-weight: bold;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-right {
		float: none;
	}
}

.title {
	font-size: 100px;
	font-weight: lighter;
	font-family: 'Abril Fatface';
}

#opening-div {
	position: absolute;
	left: 37%;
	margin: 0 auto 0 auto;
	padding-left: 20px;
	top: 30%;
}

.modal {
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
	color: #333;
	font-family: sans-serif;
	line-height: 1.5;
	max-width: 50%;
	padding: 1rem 2rem;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.modal {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
	}

	.warning {
		display: none;
	}
}

.container {
	display: flex;
	height: 100%;
	width: 50%;
	margin:10px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	button {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
		color:white;
	}

}

.write-div {
	position:absolute;
	top:35%;
	left:10%;
}

.write {
	width: 50px;
}

a {
	color:white;
}

.links {
	font-size: 12px;
	text-align: left;
}