@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Homemade+Apple&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wgth@100;&display=swap');

body {
    margin: 100px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    background-image: url('/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: #03A6A6;
    font-family: 'Work Sans';
    font-weight: lighter;
}


#content-wrapper {
    /* background-color: #D2D9D690; */
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
}

/* can def change this font, not in love at all lmao */
#profile-greeting {
    font-family: 'Abril Fatface';
    font-weight: lighter;
}

img {
    box-shadow: 10px 0px 14px -7px;
    border-radius: 35%;
}

img:hover {
    opacity: .5;
}

p {
    padding: 5px;
}

#title {
    color: grey;
    
}

#info {
    font-size: 18px;

}

a {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
}

button {
    font-size: 16px;
    padding: 5px 30px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px;
    background-image: url('/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
    background-size: cover;
    font-family: 'Work Sans';
    font-weight: lighter;
}

button:hover {
    border: 1px solid lightgrey;
}