@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Homemade+Apple&family=Raleway&display=swap');

body {
    margin: 100px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    background-image: url('/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: #03A6A6;
    font-family: 'Raleway'
}

/* #empty-wrapper {
    position: relative;
}

#blank-pic {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #F25A3850;
    position: absolute;
    left: 280px;
    top: -40px;
    z-index: -1 ; 
} */

#content-wrapper {
    background-color: #D2D9D690;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* can def change this font, not in love at all lmao */
#profile-greeting {
    font-family: 'Gloria Hallelujah'
}

img {
    box-shadow: 10px 0px 14px -7px;
    border-radius: 35%;
}

img:hover {
    opacity: .5;
}

p {
    padding: 5px;
}

#title {
    color: #F25A38;
    
}

#info {
    font-size: 18px;
}

a {
    color:#F25A38;
    text-decoration: none;
}

a:visited {
    color: #F25A38;
}

button {
    font-size: 16px;
    padding: 5px 30px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 10px 0px 14px -7px;
    background-image: url('/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
    background-size: cover;
}

button:hover {
    border: 1px solid lightgrey;
}