
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wgth@100;&display=swap');


body {
	margin: 0;
	padding: 0;
	background: #efefef;
	color: #333333;
    font-family: 'Work Sans', sans-serif;
	font-weight: lighter;
	overflow-x: hidden;
}

a {
	text-decoration: none !important;
	color: #232323;
	transition: color 0.3s ease;
}

  h1, h2 {
	font-family: 'Abril Fatface';
	margin: 10px;
	letter-spacing: 1px; 
	font-weight: lighter;
}

p {
    font-family: 'Work Sans', sans-serif;
	margin: 10px;
	letter-spacing: .5px; 
	font-weight: lighter;
}

button {
    font-family: 'Work Sans', sans-serif;
	background: white;
	border: white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	letter-spacing: .5px; 
}

form {
    font-family: 'Work Sans', sans-serif;
	background: white;
	border: white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	letter-spacing: .5px; 
}

input {
    font-family: 'Work Sans', sans-serif;
	border: white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background: rgb(223, 223, 223);
	letter-spacing: .5px; 
	width: 30%;
}

.entry-index {
	background-image: url(/5528141.jpg);
	background-size: fill;

}