@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wgth@100;&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/03.png");
	background-size: fill;
    font-weight: lighter;
}

p {
  color:#777;
}

.header {
	overflow: hidden;
	background-color: transparent;
	padding: 20px 10px;
	margin-left: 7%;
	margin-right: 7%;
    font-size: 16px;
}

.header a {
	float: left;
	color: #e56663;
	text-align: center;
	padding-right: 50px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 20px;
	font-weight: bold;
}


.signup-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height:463px;
    display: flex;
    border: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
    
}

.signup-form {
    width: 60%;
    background-color: white;
    border-radius: 0px 10px 10px 0px;

}

.form-image {
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    background-image: url('/img/Background-17-1080x1920.jpg');
    background-size: 400px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(194, 194, 194, 0.2) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(119, 33, 33, 0.3) 0%,rgb(215, 215, 215, 1) 80%);
}


.input-field {

    padding-right: 40px;
    padding-left: 20px;
}

.input {
      font-size: 16px;
      display: block;
      font-family: 'Work Sans', sans-serif;
      font-weight: lighter;
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid #747474;
      outline: none;
      transition: all .2s;
      border-bottom-right-radius: 4px;
} 
     focus {
        border-color: #222;
      }


.form-img {
    height: 50%;
    width: auto;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
 }



.title {
	font-size: 30px;
  color:#e56663;
	font-family: 'Abril Fatface';
  padding-left: 18px;
  font-weight: lighter;
  letter-spacing: .5px;
}


  .action {
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 4px;
  }
 
  .button {
      width: 100%;
      border: none;
      padding: 18px;
      cursor: pointer;
      text-transform: uppercase;
      background: #e8e9ec;
      color: #777;
      border-bottom-right-radius: 0;
      letter-spacing: 0.2px;
      outline: 0;
      transition: all .3s;
      border-bottom-right-radius: 4px;
      }

      #btn-sign-up {
        background: #905e7b;
        color: #FFEEEF;
      }

      a:active, a:hover a:visited {
        color: #e56663;
        font-weight: lighter;
        text-decoration: normal;
      }

      a {
        font-weight: lighter;
        text-decoration: normal;
      }

      p {
        padding-left: 18px;
        font-weight: lighter;
      }

      .header-logo {
        overflow: hidden;
        background-color: transparent;
        padding: 20px 10px;
        margin-left: 7%;
        margin-right: 7%;
          font-size: 16px;
      }
      
      .header-logo a {
        float: left;
        color: #e56663;
        text-align: center;
        padding-right: 50px;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        border-radius: 4px;
        font-weight: bolder;
      }