<!-- here you should be able to edit a prepopulated form for your journal entry -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Journal Edit</h1>
    <p>soon there will be a form here</p>
</body>
</html>