<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <h1>New Journal Entry</h1>
    <p>This form creates a new journal entry and adds it to our index route</p>
    <form method="POST" action="/entry">
        <label for="date">date</label>
        <input type="date" name="date" id="date"/>
        <br>
        <label for="user">user</label>
        <input type="text" name="user" id="user"/>
        <br>
        <label for="title">title</label>
        <input type="text" name="title" id="title"/>
        <br>
        <label for="content">content</label>
        <input type="text" name="content" id="content"/>
        <br>
        <label for="image">image</label>
        <input type="text" name="image" id="image"/>
        <br>
        <input type = "submit" value ="Create Entry"/>
    </form>
</body>
</html>