<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>journ.ey</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/entrycreate.css">
    <link rel="stylesheet" href="/css/summernote-lite.css">
    <script src="/JS/summernote-lite.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="/css/texteditor.css">
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <header id = "profile-greeting">
        <h1>what are you thinking about...</h1>
    </header>
    <div id = "content-wrapper">
        <form method="POST" action="/entry">
            <label for="title">Title</label>
               <br>
            <input type="text" name="title" id="title"/>
            <br>
            <label for="content">Entry</label>
            <br>
            <textarea id="summernote" name="content"></textarea>
            <br>
    </div>
    <footer id = footer-wrapper>
        <div id = "date">
            <label for="date">Date</label>
            <br>
            <input type="date" name="date" id="date"/>
        </div>
    </footer>
    <div id = "submit-button">
        <input type = "submit" value ="Log Entry"/>
    </div>
    </form>
    <script>
        $('#summernote').summernote({
          placeholder: "take your time...",
          tabsize: 2,
          height: 120,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
          ]
        });
      </script>
</body>
</html>