<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>journ.ey</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/entrycreate.css">
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <header id = "profile-greeting">
        <h1>what are you thinking about...</h1>
    </header>
    <div id = "content-wrapper">
        <form method="POST" action="/entry">
            <label for="title">Title</label>
               <br>
            <input type="text" name="title" id="title"/>
            <br>
            <label for="content">Entry</label>
            <br>
            <textarea placeholder = "take your time..." name="content" id="content"></textarea>
            <!-- <br>
            <label for="image">image</label>
            <input type="text" name="image" id="image"/> -->
            <br>
    </div>
    <footer id = footer-wrapper>
        <div id = "date">
            <label for="date">Date</label>
            <br>
            <input type="date" name="date" id="date"/>
        </div>
    </footer>
    <div id = "submit-button">
        <input type = "submit" value ="Log Entry"/>
    </div>
    </form>
</body>
</html>