<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/satyastyle.css">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

</head>
<%- include('../../partials/navbar.ejs') %>


    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
    
        <div class="header">
            <a class="active logo" href="#home">journ.ey</a>
    
            </div>
        </div>
    
        <div id="opening-div">
            <p style="position: absolute; top: 20%; left: 10%; width: 100%; font-size: 15px;">

                <div class="container">
                    <div id="quote">
                        Don't forget: life is a race, if you don't run fast, you'll get trampled
                    </div>
                </div>
            </p>
            <h1 class="title">hi <%= singleUser.userName %>.</h1>


            <!-- <p style="font-size: 20px; position: absolute; bottom: 10%;">Explore &#8594;</p> -->
            <div class="container" style="position: absolute; right: 100%; top: 50%;">
                <!-- <div class="modal" style="border-radius: 1400px;">
                    <div class="triangle-right"></div><br>
                    <div class="triangle-right"></div>
                    <div class="triangle-right"></div>
    
    
                </div> -->
            </div>
            <!-- <p style="position: absolute; right: 35%; top: 93%; width: 100%;">Watch our mission</p> -->
            <a style="position: absolute; right: 35%; top: 90%; width: 100%;" href="/entry/new"><button>Write</button></a>
            <a style="position: absolute; right: 35%; top: 120%; width: 100%;" href="/entry"><button>All Entries</button></a>
            <a style="position: absolute; right: 35%; top: 150%; width: 100%;" href="/user/profile/<%=singleUser._id%>"><button>Settings</button></a>
        </div>

        <script type="text/javascript" src="/JS/app.js"></script>
</body>
</html>