<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userinspo.css">
<link rel="stylesheet" href="/css/nav.css">
    <title>journ.ey</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>replenish. </h1>
    <section>
        <div class = "inspiration-board">     
            <div class = pic id = "one" ></div>            
            <div class = pic id = "two" ></div>            
            <div class = pic id = "three" ></div>            
            <div class = pic id = "four" ></div>            
            <div class = pic id = "five" ></div>            
            <div class = pic id = "six" ></div>            
            <div class = pic id = "seven" ></div>            
            <div class = pic id = "eight" ></div>            
            <div class = pic id = "nine" ></div>            
            <div class = pic id = "ten" ></div>            
            <div class = pic id = "eleven" ></div>            
            <div class = pic id = "twelve" ></div>            
        </div>
    </section>
</body>
</html>