<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/satyastyle.css">
    <link rel="stylesheet" href="/css/homestyle.css">

</head>
<%- include('../../partials/navbar.ejs') %>


    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
    

    
        <div id="opening-div">
            <p style="position: absolute; top: 20%; left: 10%; width: 100%; font-size: 15px;">
                <h1 class="title">hi <%= singleUser.userName %>.</h1>

                <div class="container">
                    <div id="quote">
                        Don't forget: life is a race, if you don't run fast, you'll get trampled
                    </div>
                </div>
            </p>


            <!-- <p style="font-size: 20px; position: absolute; bottom: 10%;">Explore &#8594;</p> -->
            <div class="container" style="position: absolute; right: 100%; top: 50%;">
                <!-- <div class="modal" style="border-radius: 1400px;">
                    <div class="triangle-right"></div><br>
                    <div class="triangle-right"></div>
                    <div class="triangle-right"></div>
    
    
                </div> -->
            </div>
            </div>

            <div class="write-div">
                <a href="/entry/new"><img class="write" src="/img/draw2.png"><p class="links">write</p></a><br>
                <a href="/entry"><img class="write" src="/img/journal2.png"><p class="links">all entries</p></a><br>
                <a href="/user/profile/<%=singleUser._id%>"><img class="write" src="/img/settings.png"><p class="links">settings</p></a>
            <!-- <p style="position: absolute; right: 35%; top: 93%; width: 100%;">Watch our mission</p> -->
            </div>
        <script type="text/javascript" src="/JS/app.js"></script>
</body>
</html>