<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <h1>Sign Up for Journal App</h1>
    <p>this will be a form that you can use to create your profile</p>
    <form method = "POST" action="/user">
        <label for= "userName">Username: </label>
        <input type = "text" id="userName" name="userName"/>
        <br>
        <label for = "firstName">First Name: </label>
        <input type = "text" id = "firstName" name = "firstName"/> 
        <br>
        <label for = "lastName">Last Name: </label>
        <input type = "text" id = "lastname" name = "lastName"/>
        <br>
        <label for = "password"> Password: </label>
        <input type = "text" id = "password" name = "password"/>
        <br>
        <label for = "theme"> Chose a Theme: </label>
        <input type ="number" id = "theme" name = "theme"/>
        <br>
        <label for = "avatarImage"> Add An Avatar Image: </label>
        <input type = "string" id = "avatar" name = "avatarImage"/>
        <br>
        <input type = "submit" value = "Create My Profile"/>
    </form>
</body>
</html>